// Google Fonts
@import 'https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap';

// Assets
@import '~bootstrap/scss/bootstrap';
@import '../public/scss/main.scss';

// My changes
header .header__btn .e-btn {
  height: 40px;
  line-height: 42px;
  padding: 0 20px;
}

#category__more {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.category__icon img {
  width: 40px;
  height: 40px;
}

.course__thumb {
  height: 212px;

  img {
    height: 100%;
  }
}

.footer__social ul li a.ins {
  background: #bc2a8d;
  border-color: #bc2a8d;

  &:hover {
    background: transparent;
    color: #bc2a8d;
  }
}

.contact__social ul li a.ins {
  color: #bc2a8d;
  background: rgba($color: #bc2a8d, $alpha: 0.1);

  &:hover {
    color: $white;
    background: #bc2a8d;
  }
}
