// Google Fonts
@import 'https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap';

// Assets
@import '~bootstrap/scss/bootstrap';
@import '../public/scss/main.scss';

// My changes
header .header__btn .e-btn {
  height: 40px;
  line-height: 42px;
  padding: 0 20px;
  color: #fff;
}

header .header__area.sticky .main-menu ul li a {
  color: #0e1133;
}

header .header__white .header__cart-icon svg {
  fill: #fff;
}

header .header__area.sticky .header__cart-icon svg {
  fill: #0e1133;
}

header .sidebar__content .logo {
  margin-top: -20px;
}

@media (max-width: 575px) {
  header .logo img {
    width: 140px;
    height: 60px;
  }

  .header__area {
    padding: 5px;
  }
}

#category__more {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.category__icon img {
  width: 40px;
  height: 40px;
}

.course__thumb {
  height: 212px;

  img {
    height: 100%;
  }
}

.course__img img {
  width: 100% !important;
  height: 100% !important;
}

.course__video-thumb img {
  width: 100% !important;
  height: 100% !important;
}

.testimonial__head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .testimonial__thumb {
    display: flex;
    justify-content: center;
    margin: 0;

    div {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #2b4eff;
      font-size: 25px;
      color: #fff;
      text-align: center;
      line-height: 85px;
    }

    img {
      width: 60px;
      height: 60px;
    }
  }

  .testimonial__info {
    margin-left: 20px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h5 {
      font-size: 16px;
      font-style: 400;
      color: #dacdcd;
      margin-bottom: 0px;
    }

    span {
      align-self: start;
    }
  }
}

.testimonial__content span {
  font-family: 'Hind', sans-serif !important;
  font-size: 24px !important;
  color: #efefef !important;
  line-height: normal !important;
  font-weight: 400 !important;
}

.testimonial__content p {
  padding: 0 160px !important;
  margin-bottom: 0 !important;
}

@media (max-width: 575px) {
  .testimonial__content p {
    font-size: 18px !important;
    line-height: normal !important;
    padding: 0 !important;
  }
}

.footer__social ul li a.ins {
  background: #bc2a8d;
  border-color: #bc2a8d;

  &:hover {
    background: transparent;
    color: #bc2a8d;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__link ul {
    display: flex;

    li {
      margin-left: 10px;
      color: #dacdcd;
    }
  }
}

@media (max-width: 999px) {
  .footer__container {
    flex-direction: column;

    > div {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 500px) {
  .footer__link ul {
    flex-direction: column;

    > li {
      margin-bottom: 10px;
    }
  }
}

.footer__social ul li a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__social ul li a.ins {
  color: #bc2a8d;
  background: rgba($color: #bc2a8d, $alpha: 0.1);

  &:hover {
    color: $white;
    background: #bc2a8d;
  }
}

a.link-btn,
a.link-btn-page {
  cursor: pointer;
}

a.play-btn {
  cursor: pointer;
}

span.page__title-pre {
  background: #2b4eff;
}

.course__img img {
  border-radius: 6px;
}

.course_show_all {
  margin-right: 30px;

  button {
    color: #2b4eff;
    font-weight: 400;
    font-size: large;
  }
}

.course__sm-thumb img {
  width: 90px;
  height: 60px;
}

.header__category {
  margin-left: 0;
}

.header__btn .header__category {
  padding: 0;
  margin: 0;

  &::after {
    width: 0;
  }

  button {
    padding: 0 15px;

    svg {
      margin-bottom: 4px;
    }
    span {
      margin-left: 10px;
      text-transform: capitalize;
      margin-top: 2px;
    }
  }

  .cat-submenu {
    min-width: 140px;
    width: 100%;
    padding: 15px;

    li a {
      padding: 0 10px;
      cursor: pointer;
      clear: both;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.sidebar__content .header__cart {
  top: -30px;
}

.my_account {
  display: flex;
  // justify-content: start;
  align-items: center;

  > div:first-of-type {
    border-radius: 10px;
    overflow: hidden;
  }

  > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;

    h4 {
      margin-top: 15px;
    }
  }
}
